<template name="page_loading">
    <div class="row">
        <div class="col-md-12">
            <div class="page-loading">{{> spinner}}</div>
        </div>
    </div>
</template>

<template name="product_loading">
    <div class="row">
        <div class="col-md-12">
            <div class="product-loading">{{> spinner}}</div>
        </div>
    </div>
</template>

<template name="widget_loading">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-loading">{{> spinner}}</div>
        </div>
    </div>
</template>