.productImage{
    width : 200px;
    height: 200px;
    background: #ffffff;
    vertical-align: middle;
}

.productImage img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    vertical-align: middle;
}
.productImage img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
}

.findOnOther{
    padding-top: 20px;
}

.deals-of-day-ImgContainer {
    height: 110px;
    width: 110px;
    line-height: 110px;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
}

.deals-of-day-ImgContainer img {
    vertical-align: middle;
    max-width: 110px;
    max-height: 110px;
    margin-bottom: 5px !important;
}

.pImgContainer2, .top-offers-ImgContainer {
    height: 200px;
    width: 200px;
    line-height: 200px;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
}

.pImgContainer2 img, .top-offers-ImgContainer img {
    vertical-align: middle;
    max-width: 200px;
    max-height: 200px;
}

.deals-of-day-title{
    margin-top: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.recent-products {
    margin-top: 20px;
}

.recent-products a{
    text-decoration: none;
}

.recent-productImgContainer{
    height: 200px;
    width: 200px;
    line-height: 200px;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
}

.recent-product-listImgContainer{
    height: 100px;
    width: 100px;
    line-height: 100px;
    margin: 0 5px;
    position: relative;
}

.recent-product-listImgContainer img{
    vertical-align: middle;
    max-width: 80px;
    max-height: 80px;
}

.recent-productImgContainer img {
    vertical-align: middle;
    max-width: 150px;
    max-height: 150px;
}

.recent-product-title{
    overflow: hidden;
    margin-top: 10px !important;
}

.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev		 { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		 { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev		 { left: -25%; }
}
